$color-dark: #474747;
$color-light-dark: #383838;
$color-main: #53C660;
$color-main-dark:#49A33A;
$color-gray: #969696;
$color-light-gray: #ececec;
$color-border-gray: #e5e5e5;


$max-width: 1200px;
$min-width: 640px;

