@import "../../../Theme";

.gameIntro{
  width: 100%;
  background: white;

  .gameIntro-container {
    width: $mobile-container;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .border{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: solid 1px #e5e5e5;
    border-radius: 2px;
    padding: 0.8rem 1rem;

    margin-top: 1.2rem;
    margin-bottom: 1rem;

    .topTitle{
      text-align: left;
      color: $color-dark;
      font-size: 30px;
      margin-bottom: 0.4rem;
    }
  }

  .bottomCentent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .leftView{
      display: flex;
      flex-direction: column;

      color: $color-gray;
      font-size: 14px;

      .leftViewTop{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .itemIntro{
          margin-right: 0.5rem;
        }
      }

      .leftViewBottom{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        margin-top: 10px;

        .itemTag{
          margin-right: 10px;
          border: solid 1px #e5e5e5;
          border-radius: 2px;
          padding: 3px 8px;
        }
      }
    }

    a{
      color: #ffffff;
      text-decoration: none;
    }

    .btnOpenGame{
      width: 5rem;
      height: 2rem;
      background: $color-main;
      color: #ffffff;
      margin-top: 1rem;

      border-radius: 2px;
      font-size: 18px;

      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-end;

      &:hover{
        background: rgba(99, 195, 83, 0.8);
      }
    }
  }
}


@media (min-width: 760px) {
  .gameIntro{
    width: auto;
    padding: 0;

    .gameIntro-container{
      .border{
        border-radius: 2px;
        margin-top: 40px;
        margin-bottom: 25px;

        .topTitle{
          font-size: 30px;
          margin-bottom: 10px;
        }
      }
    }

    .bottomCentent{
      .leftView{
        flex: 1;

        margin-right: 50px;
        font-size: 14px;

        .leftViewTop{

          .itemIntro{
            margin-right: 30px;
          }
        }

        .leftViewBottom{
          margin-top: 10px;

          .itemTag{
            margin-right: 10px;
            border: solid 1px #e5e5e5;
            border-radius: 2px;
            padding: 3px 8px;
          }
        }
      }


      .btnOpenGame{
        width: 189px;
        height: 50px;

        border-radius: 2px;
        font-size: 18px;
        margin-top: 0;
      }
    }
  }
}