@import "../../../Theme";

.gameContent{
  width: 100%;
  background: white ;

  .gameContent-container{
    width: 100%;
    display: flex;

  }

  .sliderMarBottom{
    margin-bottom: 20px;
  }

  .gameDescpt{
    color: $color-dark;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
  }
}


@media (min-width: 760px) {
  .gameContent{
    flex: 1;
    margin-right: 50px;

    .sliderMarBottom{
      margin-bottom: 20px;
    }

  }
}