@import "../../../Theme";

.formgame{
  width:100%;
  .form-container{
    margin-bottom:1.13rem;
    background:#fff;
    .for-title{
      color:#000;
      font-weight:100;
      font-size:0.38rem;
      height:1.1rem;
      line-height:1.3rem;
      border-bottom:1px solid #e5e5e5;
      //padding-left:1.1rem;
      margin-bottom:0.4rem;
    }
    .form-content{
      .form-text{
        font-size:0.22rem;
        color:#000;
        margin-top:0.47rem;
        font-weight:100;
        .form-name{
          display: inline-block;
          width: 90%;
          margin-bottom:0.3rem;
          text-align:left;
        }
        .btn{
          border:0;
          outline: none;
          border:1px solid #ccc;
          color:#fff;
          background:#63c653;
          width:3.4rem;
          height:0.6rem;
          font-size:0.22rem;
        }
        .know{
          display: inline-block;
          width:6rem;
          text-align:left;
          .form-label{
            display: inline-block;
            width:1.6rem;
            height:0.6rem;
          }
          .form-size{
            width:100%;
            height:0.6rem;
            border:0;
            outline: none;
            border:1px solid #ccc;
            text-indent:1em;
            background:#fafafa;
          }
          .file-image{
            width: 2.2rem;
            height: 1.2rem;
            margin:0 0.16rem 0.15rem 0;
            border:0;
          }
          .file-image:last-child{
            margin-right:0;
          }
          .figure-image{
            width:100%;
            height:2.34rem;
          }
          ul,li{
            list-style: none;
            margin:0;
            padding:0;
            display: inline-block;
          }
          .form-label{
            display: inline-block;
            width:1.85rem;
            height:0.6rem;
            border:1px solid #ccc;
            margin-right:0.15rem;
            margin-bottom:0.15rem;
            text-indent:0.5em;
            line-height:0.6rem;
            background:#fafafa;
          }
          .form-label:nth-child(3n){
            margin-right:0;
          }
          .form-pull{
            width:100%;
            height:0.6rem;
            border:1px solid #ccc;
            overflow: hidden;
            li{
              width:100%;
              height:0.6rem;
              line-height:0.6rem;
              text-indent: 1em;
            }
          }
          .price{
            width:3.9rem;
            height:0.6rem;
          }
          .language{
            width:0.25rem;
            height:0.25rem;
            vertical-align:top;
            color:red;
          }
          .text{
            margin:0 0.31rem 0 0.16rem;
          }
          input:focus{
            border:1px solid #63c653;
            background:#fff;
          }
          select:focus{
            border:1px solid #63c653;
            background:#fff;
          }
        }
      }
    }
  }
}

@media(min-width: $min-width){
  .formgame{
    padding-top:50px;
    width:100%;

    background:#fcfcfc;
    .form-container{
      width:75%;
      margin:0 auto;
      border:1px solid #e5e5e5;
      margin-bottom:72px;
      .for-title{
        color:#000;
        font-weight:100;
        font-size:24px;
        height:70px;
        line-height:84px;
        border-bottom:1px solid #e5e5e5;
        padding-left:70px;
        margin-bottom:26px;
      }
      .form-content{
        .form-text{
          font-size:14px;
          color:#000;
          margin-top:30px;
          font-weight:100;
          .form-name{
            display: inline-block;
            width: 120px;
            margin-right:16px;
            text-align:right;
          }
          .form-padd{
            padding-top:18px;
          }
          .know{
            display: inline-block;
            width:479px;
            text-align:left;
            position:relative;
            .form-btn{
              width:449px;
              text-align:center;
              .btn{
                border:0;
                outline: none;
                color:#fff;
                background:#63c653;
                width:218px;
                height:40px;
                font-size:14px;
                display: inline-block;
                margin:50px 0;
              }
            }
            .form-label{
              display: inline-block;
              width:106px;
              height:38px;
              border:1px solid #ccc;
            }
            .form-size{
              width:449px;
              height:36px;
              border:0;
              outline: none;
              border:1px solid #ccc;
              text-indent:1em;
              background:#fafafa;
            }
            .validation{
              margin-left:11px;
              font-size:20px;
            }
            .form-label{
              display: inline-block;
              width:140px;
              height:38px;
              border:1px solid #ccc;
              margin:0 10px 10px 0;
              text-indent:0.5em;
              line-height:38px;
              background:#fafafa;
            }
            .form-label:nth-child(3n){
              margin-right:0;
            }
            .file-image{
              width: 143px;
              height: 83px;
              margin:0 10px 10px 0;
            }
            .file-image:nth-child(3n){
              margin-right:0;
            }
            .figure-image{
              width:449px;
              height:150px;
            }
            ul,li{
              list-style: none;
              margin:0;
              padding:0;
              display: inline-block;
            }
            .form-pull{
              width:100%;
              height:36px;
              border:1px solid #ccc;
              overflow: hidden;
              li{
                width:100%;
                height:36px;
                line-height:36px;
                text-indent: 1em;
              }
            }
            .price{
              width:250px;
              height:38px;
            }
            .language{
              width:16px;
              height:16px;
              vertical-align:top;
              position:absolute;
              opacity:0;
            }
            .text{
              margin:0 20px 0 25px;
            }
            input:focus{
              border:1px solid #63c653;
              background:#fff;
            }
            select:focus{
              border:1px solid #63c653;
              background:#fff;
            }
            .cover{
              position:absolute;
              width:20px;
              height:20px;
            }
          }
        }
        .form-mar{
          margin-top:15px;
        }
      }
    }
    .m-modal{
      text-align:center;
      .modal_align,.modal_wrap{
        display:inline-block;
        vertical-align:middle;
      }
      .modal_align{
        height:100%;
        width:1px;
        line-height:100%;
      }
    }
  }
}

.fileContainer{
  p{
    display:none;
  }
}
.fileContainer{
      background: #fff;
      -webkit-box-shadow: none;
      box-shadow: none;
      position: relative;
      border-radius: 0 ;
      padding: 0 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: left;
      align-items: left;
      -ms-flex-pack: left;
      justify-content: left;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      //margin-left: -352px;
}
.fileContainer .chooseFileButton{
    padding: 12px 43px;
    background: #fff;
    color:#000;
    font-size:14px;
    border-radius: 0;
    font-weight: 300;
    font-size: 14px;
     //margin: 10px 0;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
    outline: none;
    border: 1px solid #dadada;
    margin-left: -338px;
}
.fileContainer .chooseFileButton:hover{
  background: #fff;
}
.mr10{
  margin-right: 10px;
}
.mr10:nth-of-type(3){
  margin-right: 0px;
}
.mr10:nth-of-type(6) {
  margin-right: 0px;
}
.mr10:nth-of-type(9) {
  margin-right: 0px;
}
.vm-middle {
   vertical-align: middle;
}