.btn-group{
  margin-left: 2px;
  margin-bottom: 3px;
  height: 35px;
  width: 90px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #333333;
  font-size: 14px;
  position: relative;
  .btn-select{
    display: flex;
    flex-direction: row;
    align-items: center;
    .icon-arrow{
      width: 13px;
      height: 9px;
      margin-left: 5px;
    }
    &:hover {
      color: #50c789;
    }
  }
  .dropdown-menu{
    width: auto;
    min-width: 100px;
    background: white;
    box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.26);
    display: block;
    position: absolute;
    top: 54px;
    right: 0;
    z-index: 2;
    .btn-option{
      padding: 10px 10px;
      color: #333333;
      font-size: 12px;
      &:hover{
        background: rgba(113,213,249,0.2);
        color: #50c789;
      }
    }
  }
}