$color-dark: #474747;
$color-light-dark: #383838;
$color-main: #63c353;
$color-gray: #969696;
$color-light-gray: #ececec;


$max-width: 1200px;
$min-width: 640px;

/*移动端距左右边缘*/
$margin-mobile-edge: 2%;
$mobile-container: 96%;
$mobile-width: 760px;
